*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #b0c4de;
}

h1{
    color: white;
}

h2 {
    margin-top: 0;
}

select {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    appearance: none; 
    outline: none;
    background-color: #2957b9;
    background-image: linear-gradient(45deg, transparent 50%, #ccc 50%),
                      linear-gradient(135deg, #ccc 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px),
                         calc(100% - 15px) calc(1em + 2px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

input[type="text"], textarea {
    width: 300px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

textarea {
    height: 150px;
    resize: none; 
}

input[type="text"]:focus, textarea:focus {
    border-color: dodgerblue;
}

header{
    display: flex;
    justify-content: top;
    align-items: left;
    width: 100%;
    min-height: flex;
}

i{
    position: flex;
    color: white;
    font-size: 2rem;
    top: 19px;
    right: 8px;
}

.contenedor-superior{
    position: relative;
    width: 100%;
    background-color: #003366;
    border: 2px solid black;
    border-radius: 2px;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.contenedor-superior button{
    width: 20%;
    height: 45px;
    align-self: rigth;
    border-radius: 40px;
    background: #2957b9;
    border: 2px solid black;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 2rem;
    transition: .4s;
    color: white;
}

.contenedor-superior button:hover,
.contenedor-superior button:focus{
    background-color: #17238d;
    text-decoration: none;
    cursor: pointer;
}

.contenedor-ordenamiento{
    display: flex;
    justify-content: top;
    align-items: left;
    width: 100%;
    height: 70px;
    position: relative;
}

.contenedor-ordenamiento select{
    height: 40px;
    font-size: 1.5em;
}

.contenedor-tickets{
    display: center;
    justify-content: top;
    align-items: left;
    width: 100%;
    position: relative;
    height: 100%;
}

.contenedor-tickets button{
    width: 50%;
    height: 200px;
    align-self: center;
    border-radius: 25px;
    background: #957af7;
    border: 2px solid black;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 2rem;
    transition: .4s;
    color: black;
}

.boton:hover,
.boton:focus{
    background-color:  #7c58fc;
    text-decoration: none;
    cursor: pointer;
}

.contenedor-tickets button .usuario-boton {
    position: relative;
    bottom: 35%;
    right: 45%;
    font-size: 1.5rem;
    color: black;
}

.contenedor-tickets button .estado-ticket-boton {
    position: relative;
    top: 25%;
    right: 42%;
    font-size: 1.5rem;
    color: black;
}

.contenedor-tickets button .fecha-creacion-boton {
    position: relative;
    top: 10%;
    left: 40%;
    font-size: 1.5rem;
    color: black;
}

.ventana-emergente {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

.contenido-ventana {
    text-align: left;
}

#info-ticket {
    margin-bottom: 20px;
}

#info-ticket p {
    margin: 5px 0;
    font-size: 1.5em;
}

#info-ticket p {
    margin: 5px 0;
    font-size: 1.5em;
}

.opcion-ticket {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: .2s;
    margin-right: 20px;
}

.crear-ticket {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: .2s;
    margin-right: 20px;
}

.select-complejidad {
    border: 1px solid #ccc;
    color: black;
    background-color: white;
}

.crear-ticket:hover,
.crear-ticket:focus {
    background-color: rgb(0, 218, 0);
    text-decoration: none;
    cursor: pointer;
}

.opcion-ticket:hover,
.opcion-ticket:focus {
    background-color: red;
    text-decoration: none;
    cursor: pointer;
}
 
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
