<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/41e6259da8.js" crossorigin="anonymous"></script>
    <meta name="description" content="pagina de ticketks">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="estilos/pagina.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>

<body>
    <header class="seccion-superior">
        <div class="contenedor-superior">
            <h1>Bienvenido a tus tickets USER -</h1>
            <button class="btn" id="añadir-ticket">Agregar Ticket <i class="fas fa-ticket-alt"></i></button>
        </div>
    </header>

    <div class="contenedor-ordenamiento">
        <h2>Tus Tickets, Ordénalos Por -</h2>
        <h2>Fecha de Creacion:</h2>
        <select id="ordenar-fecha" class="ordenar-fecha">
            <option value="1">Descendente</option>
            <option value="2">Ascendente</option>
        </select>
        <h2>-Estado:</h2>
        <select id="ordenar-estado" class="ordenar-estado">
            <option value="">Selecciona una opción</option>
            <option value="1">En Curso</option>
            <option value="2">Finalizado</option>
        </select>
    </div>

    <div class="contenedor-tickets" id="contenedor-tickets"></div>
    
    <div id="ventana-info" class="ventana-emergente">
        <div class="contenido-ventana">
            <span class="close" onclick="cerrar_ventana_emergente()">&times;</span>
            <h2>Más información relacionada al ticket</h2><br><br>
            <div id="info-ticket">
                <p><strong>Titulo:</strong> </p>
                <p><strong>Descripción del Problema:</strong> </p>
                <p><strong>Estado:</strong> </p>
                <p><strong>Complejidad:</strong> </p>
                <p><strong>Usuario:</strong> </p>
                <p><strong>Email:</strong> </p>
                <p><strong>Fecha De Creacion:</strong> </p>
            </div>
            <button class="opcion-ticket" onclick="cerrar_ticket()">Finalizar Ticket</button>
            <button class="opcion-ticket" onclick="borrar_ticket()">Eliminar Ticket</button>
        </div>
    </div>

    <div id="ventana-agregar" class="ventana-emergente">
        <div class="contenido-ventana">
            <span class="close" onclick="cerrar_ventana_agregar()">&times;</span>
            <h2>Agregar Nuevo Ticket</h2><br><br>
            <form id="formulario-agregar">
                <p><strong>Titulo:</strong> </p>
                <input type="text" id="titulo" name="titulo" maxlength="35" required><br><br>
                <p><strong>Descripción del Problema:</strong> </p>
                <textarea id="descripcion" name="descripcion" rows="4" maxlength="1000" required></textarea><br><br>
                <select id="complejidad" class="select-complejidad">
                    <option value="baja">Baja</option>
                    <option value="media">Media</option>
                    <option value="alta">Alta</option>
                </select><br><br>
                <button type="submit" class="crear-ticket">Crear Ticket</button>
            </form>
        </div>
    </div>
    
    <script>
        // Datos simulados para los botones de tickets
        const botones_info = [
            { titulo: 'titulo 1', descripcion: 'hola, se me rompio la notebook', estado: 'en curso', complejidad: 'baja', usuario: 'user1', mail: 'user1@gmail.com', fecha_creacion: '10/5/2023'},
            { titulo: 'titulo 2', descripcion: 'la impresora no imprime', estado: 'finalizado', complejidad: 'media', usuario: 'user2', mail: 'user2@gmail.com', fecha_creacion: '11/1/2023'},
            { titulo: 'titulo 3', descripcion: 'se rompio la tele', estado: 'finalizado', complejidad: 'media', usuario: 'user3', mail: 'user3@gmail.com', fecha_creacion: '10/6/2019'},
            { titulo: 'titulo 4', descripcion: 'no me puedo conectar a internet en mi celular', estado: 'en curso', complejidad: 'baja', usuario: 'user4', mail: 'user4@gmail.com', fecha_creacion: '30/5/2024'},
            { titulo: 'titulo 5', descripcion: 'se cayo el sistema de camaras', estado: 'en curso', complejidad: 'alta', usuario: 'user5', mail: 'user5@gmail.com', fecha_creacion: '31/12/2023'}
        ];

        // Función para generar dinámicamente los botones de tickets
        function generar_botones() {
            const contenedor_botones = document.getElementById('contenedor-tickets');
            contenedor_botones.innerHTML = ''; // Limpiamos el contenido existente

            botones_info.forEach(boton => {
                const nuevo_boton = document.createElement('button');
                nuevo_boton.textContent = boton.titulo;
                nuevo_boton.className = 'boton';
                nuevo_boton.addEventListener('click', function() {
                    mostrar_ventana_emergente(boton);
                });

                const usuario = document.createElement('div');
                usuario.textContent = boton.usuario;
                usuario.className = 'usuario-boton';

                const estado_ticket = document.createElement('div');
                estado_ticket.textContent = boton.estado;
                estado_ticket.className = 'estado-ticket-boton';

                const fecha_creacion = document.createElement('div');
                fecha_creacion.textContent = boton.fecha_creacion;
                fecha_creacion.className = 'fecha-creacion-boton';

                nuevo_boton.appendChild(usuario);
                nuevo_boton.appendChild(estado_ticket);
                nuevo_boton.appendChild(fecha_creacion);
                contenedor_botones.appendChild(nuevo_boton);
            });
        }

        // Función para ordenar los botones según los criterios seleccionados
        function ordenar_tickets() {
            const orden_fecha = document.getElementById('ordenar-fecha').value;
            const orden_estado = document.getElementById('ordenar-estado').value;

            botones_info.sort((a, b) => {
                // Orden por fecha
                if (orden_fecha === '2') {
                    return new Date(a.fecha_creacion.split('/').reverse().join('/')) - new Date(b.fecha_creacion.split('/').reverse().join('/'));
                } else if (orden_fecha === '1') {
                    return new Date(b.fecha_creacion.split('/').reverse().join('/')) - new Date(a.fecha_creacion.split('/').reverse().join('/'));
                }

                return 0;// Si no se especifica ningún orden, se mantiene el orden original
            });

            botones_info.sort((a, b) => {
                // Orden por estado
                if (orden_estado === '1') {
                    return a.estado.localeCompare(b.estado);
                } else if (orden_estado === '2') {
                    return b.estado.localeCompare(a.estado);
                }

                return 0;// Si no se especifica ningún orden, se mantiene el orden original
            });

            generar_botones(); // Regenerar los botones ordenados
        }

        // Función para mostrar la ventana con la información del ticket
        function mostrar_ventana_emergente(ticket) {
            var ventana_emergente = document.getElementById('ventana-info');
            var info_ticket = document.getElementById('info-ticket');

            // Llena los campos con la información del ticket seleccionado
            info_ticket.innerHTML = `
                <p><strong>Titulo:</strong> ${ticket.titulo} </p>
                <p><strong>Descripción del Problema:</strong> ${ticket.descripcion}</p>
                <p><strong>Estado:</strong> ${ticket.estado}</p>
                <p><strong>Complejidad:</strong> ${ticket.complejidad}</p>
                <p><strong>Usuario:</strong> ${ticket.usuario}</p>
                <p><strong>Email:</strong> ${ticket.mail}</p>
                <p><strong>Fecha De Creacion:</strong> ${ticket.fecha_creacion}</p>
            `;

            ventana_emergente.style.display = 'block';
        }

        // Función para cerrar la ventana
        function cerrar_ventana_emergente() {
            var ventana_emergente = document.getElementById('ventana-info');
            ventana_emergente.style.display = 'none';
        }

        // Función para mostrar la ventana de agregar ticket
        function mostrar_ventana_agregar() {
            var ventana_agregar = document.getElementById('ventana-agregar');
            ventana_agregar.style.display = 'block';
        }

        // Función para cerrar la ventana de agregar ticket
        function cerrar_ventana_agregar() {
            var ventana_agregar = document.getElementById('ventana-agregar');
            ventana_agregar.style.display = 'none';
        }

        // Event listener para el botón "Agregar Ticket"
        document.getElementById('añadir-ticket').addEventListener('click', function() {
            mostrar_ventana_agregar();
        });


        // Función para manejar el envío del formulario de agregar ticket
        document.getElementById('formulario-agregar').addEventListener('submit', function(event) {
            event.preventDefault(); // Evitar que se recargue la página por defecto

            // Obtener valores del formulario
            var titulo = document.getElementById('titulo').value;
            var descripcion = document.getElementById('descripcion').value;
            var complejidad = document.getElementById('complejidad').value;

            // Agregar el nuevo ticket (simulado)
            botones_info.push({
                titulo: titulo,
                descripcion: descripcion,
                estado: 'en curso', // Puedes definir un estado por defecto
                complejidad: complejidad,
                usuario: 'usuarioNuevo', // Puedes definir un usuario por defecto
                mail: 'nuevo@usuario.com', // Puedes definir un email por defecto
                fecha_creacion: new Date().toLocaleDateString() // Fecha actual
            });

            // Cerrar la ventana emergente de agregar
            cerrar_ventana_agregar();

            // Regenerar los botones con el nuevo ticket agregado
            generar_botones();
        });

        // Cargar inicialmente los botones
        generar_botones();
        ordenar_tickets();

        // Event listeners para los select de ordenamiento
        document.getElementById('ordenar-fecha').addEventListener('change', ordenar_tickets);
        document.getElementById('ordenar-estado').addEventListener('change', ordenar_tickets);

        function cerrar_ticket() {
            window.location.reload();
        }

        function borrar_ticket() {
            window.location.reload();
        }
    </script>
</body>

</html>